.cart {
  position: fixed;
  top: 0;
  right: 0;
  inline-size: min(30rem, 70% - 1rem);

  padding: 1rem;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  z-index: 10;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1.5rem;
  align-content: start;

  background-color: color-mix(
    in srgb,
    var(--color-background) 20%,
    var(--color-backdrup) 80%
  );

  border: 2px solid
    color-mix(in srgb, var(--color-primary-contrast) 6%, transparent);

  box-shadow:
    0 20px 50px rgba(0, 0, 0, 0.28),
    0 0 30px color-mix(in srgb, var(--color-primary) 10%, transparent),
    inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  &:hover {
    border: 2px solid color-mix(in srgb, var(--color-primary) 22%, transparent);
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-block-end: 1rem;
    border-block-end: 2px solid
      color-mix(in srgb, var(--color-primary) 30%, transparent);
    .content {
      color: var(--color-primary);
      font-size: var(--font-size-500);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1ch;
      > strong {
        color: color-mix(
          in srgb,
          var(--color-primary) 35%,
          var(--color-primary-contrast) 90%
        );
      }
      > svg {
        color: color-mix(
          in srgb,
          var(--color-primary) 35%,
          var(--color-primary-contrast) 90%
        );
      }
    }
  }

  .visual {
    display: grid;
    align-content: start;
    gap: 1rem;
    .wrapper {
      padding: 1rem 0.4rem;
      max-block-size: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      display: grid;
      scrollbar-color: color-mix(in srgb, var(--color-primary) 80%, transparent)
        color-mix(in srgb, var(--color-primary) 10%, transparent);
      scrollbar-width: thin;
      gap: 0.5rem;

      .emptyCart {
        inline-size: 100%;
        text-align: center;
        padding: 2rem 1rem;
        font-size: var(--font-size-300);
        color: var(--color-primary);
        font-weight: 400;
        background-color: color-mix(
          in srgb,
          var(--color-primary-contrast) 5%,
          transparent
        );
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        box-shadow: var(--shadow-normal);
        border-radius: 1rem;
        corner-shape: squircle;
      }
    }

    .written {
      background-color: color-mix(
        in srgb,
        var(--color-primary-contrast) 5%,
        transparent
      );
      backdrop-filter: blur(4px);
      box-shadow: var(--shadow-normal);
      padding: 1rem;
      border-radius: 1rem;
      display: grid;
      gap: 1rem;

      font-size: var(--font-size-300);
      color: color-mix(
        in srgb,
        var(--color-primary) 35%,
        var(--color-primary-contrast) 90%
      );

      > div {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        span {
          font-size: 0.8em;
          margin-inline-start: 1ch;
        }

        > strong {
          color: var(--color-primary);
          font-size: 1.5em;
        }
      }
    }
  }

  .btn {
    justify-self: end;
    padding: 0.6rem 2.2rem;
    font-size: var(--font-size-500);
    outline: none;
  }
}
