.product-skeleton {
  inline-size: min(12rem, 100% - 2rem);
  border: 1px solid
    color-mix(in srgb, var(--color-primary-contrast) 10%, transparent);
  background-color: color-mix(
    in srgb,
    var(--color-primary-contrast) 10%,
    var(--color-background) 20%
  );
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  align-items: start;
  align-content: start;
  padding: 1rem 0.5rem;

  .img {
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: grid;
    gap: 0.4rem;
  }
}
