.actions {
  display: flex;
  align-items: center;
  gap: 1ch;

  .shop-action {
    display: flex;
    align-items: center;
    gap: 1ch;

    .shop-btn {
      position: relative;

      .badge {
        position: absolute;
        top: -30%;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        inline-size: 1.5rem;
        block-size: 1.5rem;
        background-color: color-mix(
          in srgb,
          var(--color-primary) 90%,
          transparent
        );
        color: var(--color-primary-contrast);
        font-size: var(--font-size-300);
        border-radius: 999rem;
        transform: translateX(50%);
      }
    }
  }
}

/* tablet size */
@media screen and (min-width: 768px) {
  .actions {
    .action {
      padding: 0.3rem 0.6rem;
    }
  }
}

/* desktop size */
@media screen and (min-width: 1024px) {
  .actions {
    .action {
      padding: 0.5rem 0.8rem;
    }
  }
}

