.skeleton {
  position: relative;

  background-color: color-mix(
    in srgb,
    var(--color-background) 30%,
    var(--color-primary-contrast) 10%
  );
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: calc(100% + 10rem);
    inline-size: 2px;
    background: linear-gradient(
      to right,
      color-mix(in srgb, var(--color-primary-contrast) 10%, transparent),
      transparent,
      color-mix(in srgb, var(--color-primary-contrast) 10%, transparent)
    );
    transform: translateX(-40%) rotate(25deg);
    top: -40px;
    left: -40%;
    box-shadow: 0 0 15px
      color-mix(in srgb, var(--color-primary-contrast) 20%, transparent);
    animation: effect 0.8s infinite linear;
  }

  &.rounded {
    border-radius: 0.5rem;
  }

  &.circle {
    border-radius: 999rem;
  }

  &.card {
    box-shadow: var(--shadow--normal);
    border-radius: 1rem;
  }
}

@keyframes effect {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
