.cart-item {
  width: 100%;
  block-size: 5rem;
  border-radius: 0.5rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  padding: 0.2rem 0.5rem;

  .profile {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;

    .img-box {
      width: 50px;
      height: 50px;
      border-radius: 999rem;

      border: 1px solid
        color-mix(in srgb, var(--color-primary) 20%, transparent);
      box-shadow:
        0 0 30px color-mix(in srgb, var(--color-primary) 10%, transparent),
        0 0 15px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(0, 0, 0, 0.2);

      .img {
        width: 100%;
        block-size: 100%;
        border-radius: 999rem;
        object-fit: cover;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;

    background-color: var(--color-backdrup);
    backdrop-filter: blur(4px);
    box-shadow: var(--shadow-normal);
    padding: 0.3rem 0.5rem;

    &:hover {
      box-shadow: var(--shadow-heavy);
    }

    .info {
      color: var(--color-success);

      border-radius: 0.3rem;
      transition: all 0.2s ease;

      &:hover {
        color: var(--color-success-hover);
      }
    }
    .remove {
      color: var(--color-danger);
      transition: all 0.2s ease;
      border-radius: 0.3rem;
      &:hover {
        color: var(--color-danger-hover);
      }
    }
    .qty {
      color: var(--color-primary-contrast);
      padding-inline: 0.5rem;
      font-size: var(--font-size-300);
    }
  }

  &:hover {
    transform: translateY(-3px);
  }
}

/* tablet size */
@media screen and (min-width: 768px) {
  .userItem__wraper {
    padding: 0.4rem;
    margin-top: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  .userItem__wraper {
    padding: 0.6rem;
    margin-top: 1rem;
  }
}

@keyframes remove {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
    transform: translateX(50%) translateY(-3px);
  }
  50% {
    opacity: 0;
    transform: translateX(100%) translateY(0);
  }
}
