.about {
  position: relative;
  overflow: hidden;

  margin-block: 3rem;
  padding-block: 3rem;

  background: #f4ead8;

  color: var(--color-background);

  .wrapper {
    z-index: 1;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-block-end: 2rem;
      padding-block-end: 0.7rem;

      border-block-end: 1px solid
        color-mix(in srgb, var(--color-background) 10%, transparent);

      .eyebrow {
        color: var(--color-primary);

        font-size: var(--font-size-300);
        font-weight: 900;
        letter-spacing: 0.15em;
      }
      .number {
        color: color-mix(in srgb, var(--color-background) 30%, transparent);

        font-size: var(--font-size-200);
        font-weight: 700;
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      align-items: center;

      .title {
        > h2 {
          margin: 0;

          color: color-mix(in srgb, var(--color-background) 90%, transparent);

          font-size: var(--font-size-800);
          font-weight: 800;

          line-height: 1.2;
          letter-spacing: -0.09em;

          span {
            color: color-mix(in srgb, var(--color-primary) 90%, transparent);
          }
        }
      }

      .text {
        display: grid;
        gap: 0.5rem;
        align-content: start;
        justify-items: start;
        max-inline-size: 500px;
        .lead {
          margin: 0 0 0.7rem;

          color: color-mix(in srgb, var(--color-background) 80%, transparent);

          font-size: var(--font-size-400);
          font-weight: 700;

          line-height: 1.9;
        }

        > span {
          margin: 0;

          color: color-mix(in srgb, var(--color-background) 60%, transparent);

          font-size: var(--font-size-300);
          line-height: 1.9;
        }

        .link {
          display: inline-flex;
          align-items: center;
          gap: 0.7rem;

          margin-block-start: 1.2rem;
          padding: 0.6rem 1rem;

          border-radius: 999px;

          background: color-mix(
            in srgb,
            var(--color-background) 100%,
            transparent
          );
          color: #f4ead8;

          text-decoration: none;

          font-size: var(--font-size-300);
          font-weight: 700;
          > strong {
            > svg {
              position: relative;
              transform: translateY(4px);
            }
          }
          transition:
            background 0.2s ease,
            transform 0.2s ease;

          > strong {
            font-size: var(--font-size-400);
          }

          &:hover {
            background: color-mix(
              in srgb,
              var(--color-primary) 40%,
              var(--color-danger) 90%
            );
            transform: translateY(-2px);
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;

      gap: 2.5rem;

      margin-block-start: 2.5rem;
      padding-block-start: 1.5rem;

      border-block-start: 1px solid
        color-mix(in srgb, var(--color-background) 10%, transparent);

      > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        > strong {
          color: color-mix(in srgb, var(--color-primary) 60%, transparent);

          font-size: var(--font-size-500);
          font-weight: 900;
        }

        > span {
          color: color-mix(in srgb, var(--color-background) 40%, transparent);

          font-size: var(--font-size-200);
          font-weight: 600;
        }
      }

      .slogan {
        margin-inline-start: auto;

        > span {
          color: color-mix(in srgb, var(--color-background) 50%, transparent);

          font-size: var(--font-size-200);
          font-weight: 900;
          letter-spacing: 0.1em;
        }
      }
    }
  }

  &::before {
    content: "";

    position: absolute;
    inset-inline-end: -120px;
    inset-block-start: -160px;

    inline-size: 300px;
    block-size: 300px;

    border-radius: 999rem;

    background: var(--color-primary);
    opacity: 0.07;
  }
}

@media (max-width: 900px) {
  .about {
    padding-block: 2.5rem;
    .wrapper {
      .content {
        gap: 2rem;
      }

      .bottom {
        gap: 1.5rem;
      }
    }
  }
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 600px) {
  .about {
    margin-block: 2rem;
    padding-block: 2rem;
    .wrapper {
      .content {
        grid-template-columns: 1fr;
        gap: 1.5rem;

        .text {
          .link {
            margin-block-start: 1rem;
          }
        }
      }

      .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 0.8rem;

        margin-block-start: 2rem;
        padding-block-start: 1rem;

        > div {
          gap: 0.35rem;
        }
        .slogan {
          display: none !important;
        }
      }
    }
  }
}
