.categories {
  inline-size: 100%;
  overflow: hidden;
}

.swiper {
  width: 80%;
  padding-block: 2rem;
  overflow: hidden;
}

.slide {
  width: 10rem !important;

  display: flex;
  align-items: center;
  justify-content: center;
}
