.title {
  display: block;
  max-inline-size: 15ch;
  margin-block: 2rem;
  text-wrap: nowrap;
  font-size: var(--font-size-500);
  font-weight: 300;
  color: var(--color-primary);
  position: relative;
  padding: 0.3rem 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    inline-size: 0;
    block-size: 2px;
    border-radius: 999rem;
    background-color: var(--color-primary);
    animation: move 2s 0.075s infinite linear;
  }
}

@keyframes move {
  0%,
  100% {
    inline-size: 0%;
  }
  25%,
  75% {
    inline-size: 50%;
  }
  50% {
    inline-size: 100%;
  }
}
