.animate {
  opacity: 0;
}

.shake {
  animation: shake 0.4s ease;
}

.infinitWave {
  animation: wave 1s infinite linear;
}
.wave {
  animation: wave 0.7s forwards;
}

.fade-down.show {
  animation: fadeDown 0.7s ease-out forwards;
}
.fade-up.show {
  animation: fadeUp 0.7s ease-out forwards;
}

.slide-left.show {
  animation: slideleft 0.7s ease-out forwards;
}

.slide-right.show {
  animation: slideRight 0.7s ease-out forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes wave {
  0%,
  50%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(1px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-1px);
    opacity: 0.5;
  }
}
