.mobile-navbar {
  z-index: 50;
  padding-block-end: 2rem;
  position: fixed;
  top: 5%;
  left: 4%;
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  min-block-size: calc(100dvh - 2rem);
  inline-size: auto;
  border-radius: 2rem;
  box-shadow: var(--shadow-heavy);
  background-color: var(--color-backdrup);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-border);
  transition: all 0.3s ease;
  transform: translateX(-100px);
  opacity: 0;
  /* overflow-x: hidden; */

  &.navbar-open {
    animation: navbareffectEnter 0.3s forwards;
  }

  &.collapse {
    inline-size: 11rem;
    .topbar {
      .btn {
        > svg {
          transform: rotate(0);
        }
      }
    }
    .list {
      display: grid;
      gap: 1rem;
      align-content: start;

      .item {
        .link {
          grid-template-areas: "label icon";
          gap: -6ch;
          .icon {
            position: relative;
            top: -5px;
            grid-area: icon;
            font-size: var(--font-size-500);
            box-shadow: none;
            /* block-size: 1.5rem;
            inline-size: 1.5rem; */
            /* border-radius: 0.3rem; */
            transform: translateX(100%);
          }
          .label {
            grid-area: label;
            visibility: visible;
            opacity: 1;
            white-space: nowrap;
            /* transform: translateX(100%); */
          }
        }
      }
    }
  }
  .topbar {
    position: relative;
    inline-size: 100%;
    padding-block: 1rem;
    padding-inline: 1rem;

    background: color-mix(in srgb, var(--color-primary) 35%, transparent);
    border-radius: 2rem 2rem 0 0;

    .btn {
      transition: all 0.7s ease;
      position: absolute;

      top: 100%;
      border: 1px solid
        color-mix(in srgb, var(--color-primary-contrast) 20%, transparent);

      right: calc(-2 * 0.5rem);
      > svg {
        transition: all 0.3s ease;
        transform: rotate(180deg);
      }

      &:hover {
        filter: hue-rotate(360deg);
        > svg {
          font-size: 1.2em;
        }
      }
    }
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .item {
    /* min-block-size: 3rem; */
    inline-size: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    block-size: 100%;
    font-size: var(--font-size-300);

    .link {
      position: relative;
      block-size: 100%;
      inline-size: 100%;
      /* background-color: red; */
      display: grid;
      grid-template-areas: "link";
      place-content: center;

      color: var(--color-primary-contrast);
      transition: all 0.2s ease-in-out;
      font-size: 1em;
      font-weight: 400;

      opacity: 1;

      .icon {
        grid-area: link;
        font-size: 2em;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        transition: all 0.3s ease-in;
      }

      .label {
        grid-area: link;
        position: absolute;
        inset: 0;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
      }

      &:hover {
        color: var(--color-primary);
        .icon {
          transform: scale(1.1) translateY(-4px);

          box-shadow:
            0 20px 50px rgba(0, 0, 0, 0.28),
            0 0 30px
              color-mix(in srgb, var(--color-primary-fade) 6%, transparent),
            inset 0 1px 1px rgba(255, 255, 255, 0.2),
            inset 0 -1px 1px rgba(255, 255, 255, 0.05);
          border-radius: 999rem;
        }
        .label {
          /* transform: translateY(100%);
          visibility: visible;
          opacity: 0.5; */
        }
      }

      /* &.active {
        color: var(--color-primary-hover);
        transform: scale(1.1);
        font-weight: 500;
        .label {
          visibility: visible;
          transform: translateY(100%);
          opacity: 1;
        }
        .icon {
          box-shadow: none;
          transform: translateY(0%);
          color: var(--color-primary-hover);
        }
      } */
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    display: none;
  }
}

@keyframes navbareffectEnter {
  from {
    transform: translateX(-100);
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navbareffectExit {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100px);
    opacity: 0.5;
  }
}

@keyframes textHidden {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(30px);
    opacity: 1;
  }
}
@keyframes textShow {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-30px);
    opacity: 1;
  }
}
