.blog {
  position: relative;
  padding: 2px;
  border-radius: 1rem;
  inline-size: 100%;
  max-inline-size: 100%;
  
  overflow: hidden;
  /* padding-block: 2rem; */

  background: linear-gradient(
    120deg,
    var(--color-primary),
    var(--color-danger),
    var(--color-danger-light),
    var(--color-danger-dark),
    var(--color-primary)
  );

  background-size: 400% 400%;
  animation: gradientFlow 3s ease infinite;

  .wrapper {
    inline-size: 100%;
    inline-size: 100%;
    max-inline-size: 100%;
    min-inline-size: 0;
    block-size: 100%;
    border-radius: inherit;
  }

  .swiper {
    inline-size: 100%;
    max-inline-size: 100%;
    block-size: 100%;
    min-inline-size: 0;
    overflow: hidden;
    position: relative;
  } /* خود slide */
  .swiper :global(.swiper-slide) {
    inline-size: 100%;
    min-inline-size: 0;
    box-sizing: border-box;
  }
  .swiper :global(.swiper-wrapper) {
    block-size: 100%;
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 900px) {
  .blog {
    /* padding-block: 1.5rem; */
  }
}

@media (max-width: 600px) {
  .blog {
    /* padding-block: 1rem; */
    /* padding-inline: 0.5rem; */
  }
  .wrapper {
    inline-size: 100%;
  }
  .swiper {
    inline-size: 100%;
  }
}
