.scroll {
  inline-size: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 999rem;

  position: fixed;

  bottom: 10%;
  right: 4%;

  border: 1px solid var(--color-primary);

  > svg {
    font-size: var(--font-size-400);
    font-weight: 400;
    color: var(--color-primary-contrast);
    rotate: 90deg;
    animation: shake 0.8s infinite linear;
    position: relative;
    z-index: 777;
  }

  &:hover {
    transform: translateY(-6px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
  }
}
