.menus {
  display: grid;
  gap: 1.5rem;

  .wrapper {
    display: flex;
    align-items: center;
    inline-size: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-inline: auto;
    gap: 0.5rem;
  }
}
@media screen and (min-width: 548px) {
  .menus {
    .wrapper {
      gap: 0.7rem;
      inline-size: calc(100% -1rem);
    }
  }
}
@media screen and (min-width: 768px) {
  .menus {
    .wrapper {
      inline-size: calc(100% - 15%);
      gap: 0.9rem;
    }
  }
}
@media screen and (min-width: 1024px) {
  .menus {
    .wrapper {
      inline-size: calc(100% - 20%);
      gap: 1.1rem;
    }
  }
}
