.banner {
  
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 280px);
    gap: 1.5rem;
    > :nth-child(1),
    > :nth-child(2),
    > :nth-child(3) {
      grid-column: auto;
      grid-row: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 220px);
      gap: 1.5rem;

      > :nth-child(1) {
        grid-row: 1 / 3;
      }
    }
  }
}
