.banner {
  display: grid;
  gap: 2rem;
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 240px);

    .img1 {
      display: none;
    }

    > :nth-child(1),
    > :nth-child(2),
    > :nth-child(3) {
      grid-column: auto;
      grid-row: auto;
    }
  }
}

@media screen and (min-width: 618px) {
  .banner {
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 240px);
      .img1 {
        display: none;
      }
      gap: 0.5rem;

      .img2,
      .img3 {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .banner {
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 180px);
      gap: 1.5rem;

      .img1 {
        display: block;
      }

      > :nth-child(1) {
        grid-row: 1 / 3;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 220px);
      gap: 1.5rem;

      .img1 {
        display: block;
      }

      > :nth-child(1) {
        grid-row: 1 / 3;
      }
    }
  }
}
